@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  /* colors */

  /* primary colors */
  --primary-color-main: #c0392b;
  --primary-color-10: #f2d7d5;
  --primary-color-20: #eabdb8;
  --primary-color-30: #df9c95;
  --primary-color-40: #d57b72;
  --primary-color-50: #ca5a4e;
  --primary-color-60: #a03024;
  --primary-color-70: #80261d;
  --primary-color-80: #601d16;
  --primary-color-90: #40130e;
  --primary-color-100: #260b09;

  /* the greys */
  --grey-color-main: #2c2c2c;
  --grey-color-10: #d5d5d5;
  --grey-color-20: #b9b9b9;
  --grey-color-30: #959595;
  --grey-color-40: #727272;
  --grey-color-50: #4f4f4f;
  --grey-color-60: #252525;
  --grey-color-70: #1d1d1d;
  --grey-color-80: #161616;
  --grey-color-90: #0f0f0f;
  --grey-color-100: #090909;
  --white: #fdf6ec;

  /* background */
  --bg-1: #060708;
  --bg-2: #07080b;
  --card-bg: #11141b;
  --nav-bg: hsla(0, 0%, 14%, 0.8);

  /* typography */
  /* headings */
  --heading-1: bold 72px/80px "Raleway", sans-serif;
  --heading-2: bold 56px/64px "Raleway", sans-serif;
  --heading-3: bold 48px/56px "Raleway", sans-serif;
  --heading-4: bold 40px/48px "Raleway", sans-serif;
  --heading-5: bold 32px/40px "Raleway", sans-serif;

  /* subheadings */
  --sub-heading-1: bold 24px/32px "Raleway", sans-serif;
  --sub-heading-2: bold 20px/28px "Raleway", sans-serif;

  /* body */
  --body-1: 18px/26px "Raleway", sans-serif;
  --body-2: 16px/24px "Raleway", sans-serif;

  /* caption */
  --caption: 14px/22px "Raleway", sans-serif;

  /* effects */
  --cards-hover: ;
  --cart-table: 0px 0px 16px 2px hsla(6, 63%, 46%, 0.12);
  --nav-blur: blur(20px);

  /* transitions */
  --hover-soft: 0.4s ease-in;
}

/* buttons */
.btn {
  padding: 0 24px;
  height: 52px;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  font: var(--body-1);
  font-weight: bold;
}

.btn img {
  width: 28px;
}

.btn i {
  font-size: 24px;
}

.pry {
  background-color: var(--primary-color-main);
  border: 2px solid var(--primary-color-50);
  color: var(--white);
  transition: var(--hover-soft);
}

.pry:hover {
  background-color: var(--primary-color-70);
  transform: scale(1.1);
}

/* list styles */
li {
  list-style: none;
}

/* link style */
a {
  text-decoration: none;
}

/* header */
header {
  width: 100%;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;

  /* width: 100%; */
}

.nav__links {
  background-color: var(--nav-bg);
  backdrop-filter: var(--nav-blur);
  padding: 12px 24px;
  border: 1px solid var(--grey-color-30);
  border-radius: 48px;
}

.nav__links ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__link {
  list-style: none;
}

.nav__link a {
  color: var(--grey-color-30);
  font: var(--body-2);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  text-decoration: none;
  transition: var(--hover-soft);
}

.nav__link a i {
  font-size: 24px;
}

.nav__link:not(.active) a:hover {
  color: var(--primary-color-main);
}

/* active link */
.active a {
  color: var(--white);
}

.nav__actions {
  display: flex;
  align-items: center;
  gap: 16px;
  height: stretch;
}

.open-menu {
  height: 56px;
  width: 56px;
  background-color: var(--nav-bg);
  backdrop-filter: var(--nav-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color-30);
  border-radius: 50%;
  border: 1px solid var(--grey-color-30);
}

.nav .nav__links i {
  /* width: 24px;
  height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-menu,
.nav__link .close-menu {
  display: none;
}

/* mobile */
@media (max-width: 500px) {
  header {
    top: 0;
    right: 0;
  }

  .nav__links {
    width: 72%;
    height: 100vh;
    border-radius: 0;
    position: relative;
    display: none;
  }

  .nav {
    gap: 0;
  }

  .nav__links ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .open-menu {
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex;
  }

  .nav__link .close-menu {
    display: flex;
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .nav.open .nav__links {
    display: block;
  }

  .nav.open .open-menu {
    display: none;
  }

  .nav.open .close-menu {
    display: flex;
  }
}

/* hero section */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(assets/img/hero-section-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 316px;
  height: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.hero__text {
  font: var(--heading-1);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.hero__text span {
  color: var(--primary-color-main);
  font-style: italic;
}

@media (max-width: 500px) {
  .logo {
    width: 176px;
    height: 140px;
  }
  .hero__text {
    font: var(--heading-3);
  }
}

/* footer */
.footer {
  padding: 56px 120px;
  border-top: 1px solid var(--grey-color-60);
  background: linear-gradient(
    hsla(6, 63%, 46%, 0.5) -60%,
    hsl(225, 22%, 4%) 20%
  );
  /* z-index: 100; */
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__sub-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__sub-details .title {
  font: var(--body-2);
  color: var(--grey-color-30);
}

.footer__sub-details .text {
  font: var(--body-2);
  color: var(--white);
}

.footer__icons ul {
  display: flex;
  gap: 16px;
}

.footer__icons ul li a {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: var(--primary-color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--hover-soft);
}

.footer__icons ul li a img {
  width: 16px;
}

.footer__icons ul li a:hover {
  border: 1px solid var(--grey-color-20);
}

.footer__copyright .copyright {
  font: var(--body-2);
  color: var(--grey-color-30);
}

@media (max-width: 500px) {
  .footer {
    padding: 28px 20px;
  }

  .footer__details {
    flex-direction: column;
    gap: 16px;
  }
}

/* whatsapp icon */
.whatsapp-icon {
  width: 56px;
  position: fixed;
  right: 80px;
  top: 80vh;
  z-index: 2000;
}
.whatsapp-icon img {
  width: 100%;
}

/* background effect */

/* about */
.container {
  padding: 176px 120px 110px;
  background-color: var(--bg-1);
  position: relative;
}

.bg-effect {
  width: 328px;
  height: 590px;
  background-color: rgba(230, 126, 34, 0.12);
  border-radius: 50%;
  filter: blur(148px);
  z-index: -1000px;
  position: fixed;
}

.bg-effect.left {
  left: 120px;
  top: -40px;
}

.bg-effect.right {
  right: 120px;
  top: 160px;
}

.about,
.gallery {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 112px;
  align-items: center;
}

.content {
  width: 100%;
  padding-left: 11.245rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.label {
  font: var(--body-2);
  color: var(--grey-color-20);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title {
  font: var(--heading-2);
  color: var(--grey-color-10);
}

.description {
  font: var(--body-1);
  color: var(--grey-color-20);
  width: 68%;
}

.about__details {
  display: flex;
  flex-direction: column;
  gap: 56px;
  /* z-index: 2; */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--grey-color-60);
}

.about__story {
  font: var(--sub-heading-2);
  color: var(--grey-color-20);
  width: 84%;
}

@media (max-width: 500px) {
  .container {
    padding: 40px 20px 56px;
  }
  .bg-effect {
    width: 200px;
    height: 346px;
  }
  .headline {
    gap: 52px;
  }
  .content {
    padding-left: 0;
  }
  .title {
    font: var(--heading-4);
  }
  .description {
    width: 78%;
  }
  .about__story {
    font: var(--body-1);
    width: 90%;
    font-weight: bold;
  }
}

/* gallery */
.gallery__details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-card {
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--grey-color-50);
  position: relative;
  overflow: clip;
  transition: var(--hover-soft);
}

.food-img {
  width: 100%;
  height: 100%;
}

.gallery-card:hover .food-img {
  opacity: 88%;
}

.food-label {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--bg-1);
  border-radius: 24px;
  padding: 8px 24px;
  color: var(--grey-color-20);
}

@media (max-width: 500px) {
  .gallery__details {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
